* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font-size: 0.7rem;
  background-color: rgb(173, 84, 84);
  color: white;
  padding: 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(148, 9, 9);
}
/*styling user and transaction table */
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
table {
  margin: 20px auto;
}
tr:nth-child(even) {
  background-color: rgb(197, 194, 194);
}
th {
  background-color: rgb(173, 84, 84);
  color: antiquewhite;
}
.form {
  border: 2px solid rgb(255, 253, 253);
  border-radius: 20px;
  width: 50%;
  height: 250px;
  margin: 150px auto;
  padding: 20px;
  background-color: bisque;
}
.form input[type="text"],
select {
  width: 100%;
  padding: 5px;
  font-size: 0.9rem;
}
.form input[type="submit"] {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(8, 8, 8);
  color: white;
  margin: 8px auto;
  cursor: pointer;
  padding: 6px;
}

@media screen and (max-width: 1500px) {
  .name {
    width: 100%;
    font-size: 25px;
  }
  img {
    width: 800px;
  }
  .image {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  ul {
    height: 30px;
  }
  li a {
    padding: 5px;
    font-size: 0.7rem;
  }
  img {
    width: 400px;
  }
  .image {
    width: 100%;
  }
  th,
  td {
    padding: 2px;
    font-size: 15px;
  }
}
